@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'),
        url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'),
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype');
}

:root {
    --color-primary-dark: #000;
    --color-primary-light: #FFFFFF;
    --color-primary-grey: #747272;
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
    --font-brand-headline: 'Play', 'Trebuchet MS', sans-serif;
    --font-brand-main: 'Roboto', Verdana, sans-serif;
}

/* Base */
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a   {
    text-decoration: none;
}

body {
    color: var(--color-primary-dark);
    font-family: var(--font-brand-main);
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    /* Bgc to test only */
    background-color: #f1f1f1;
}

address {
    font-style: normal;
}

/* Buttons */
.button-order-a-call {
    background-color: var(--color-brand-light);
    color: #FFFFFF;
    border-radius: 32px;
    border: 2px solid var(--color-brand-light);
    font-size: 18px;
    font-weight: 600;
}

.button-order-a-call:hover {
    background-color: transparent;
    color: #011C44;
    cursor: pointer;
}

/* Nav */
.header-nav-link {
    color: var(--color-brand-dark);
    font-size: 18px;
}

.header-nav-link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
}

.social-icons {
    height: 32px;
    width: 32px;
}

/* Hero section */
.hero-company-type {
    color: var(--color-brand-dark);
    font-size: 18px;
    font-weight: 400;
}

.hero-title {
    color: var(--color-brand-light);
    font-family: var(--font-brand-headline);
    font-size: 140px;
    line-height: 0.8;
}

.hero-call-to-action {
    color: #4A4A4A;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

/* Sections */
.section-title {
    color: var(--color-brand-dark);
    font-family: var(--font-brand-headline);
    font-size: 64px;
}

.span-accent {
    color: var(--color-brand-dark);
    font-weight: 600;
    }

/* Section About     */
.about-paragraph {
    line-height: 1.7;
}

/* Section Why */
.why-title {
    text-align: center;
}

.why-article-paragraph {
    font-size: 18px;
    line-height: 1.33;
}
/* Section Procedures */
.procedures-title {
    text-align: center;
}

.procedure-aricle-description {
    color: var(--color-primary-light);
    line-height: 1.2;
}

/* Contacts Section */
.contacts-title {
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--color-brand-dark);
    color: #FFFFFF;
}

footer a{
    color: var(--color-primary-light);
    font-size: 16px;
}

footer a:hover {
    color: var(--color-brand-light);
    /* font-weight: 700; */
}

.social-icons-footer {
    height: 42px;
    width: 42px;
    filter: invert(91%) sepia(71%) saturate(23%) hue-rotate(358deg) brightness(108%) contrast(105%);
}

.footer-copy {
    color: var(--color-primary-grey);
    font-size: 13px;
}