@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.woff2')
      format('woff2'),
    url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.ttf')
      format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.ttf')
      format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.ttf')
      format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.ttf')
      format('truetype');
}

:root {
  --color-primary-dark: #000;
  --color-primary-light: #ffffff;
  --color-primary-grey: #747272;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --font-brand-headline: 'Play', 'Trebuchet MS', sans-serif;
  --font-brand-main: 'Roboto', Verdana, sans-serif;
}

/* Base */

body {
  color: var(--color-primary-dark);
  font-family: var(--font-brand-main);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  /* Bgc to test only */
  background-color: #f1f1f1;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  /* left: -10000px; */
  /* top: auto; */
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Nav */
.header-nav-link {
  color: var(--color-brand-dark);
  font-size: 18px;
}

.header-nav-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.social-icons {
  height: 32px;
  width: 32px;
}

/* Hero section */
.section-hero {
  padding: 124px 0 126px;
}

.hero-company-type {
  margin-bottom: 16px;
  color: var(--color-brand-dark);
  font-size: 18px;
  font-weight: 400;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand-light);
  font-family: var(--font-brand-headline);
  font-size: 140px;
  line-height: 0.8;
}

.button-order-a-call {
  margin-bottom: 14px;
  padding: 16px 32px;
  background-color: var(--color-brand-light);
  color: #ffffff;
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  font-family: var(--font-brand-main);
  font-size: 18px;
  font-weight: 600;
}

.button-order-a-call:hover {
  background-color: transparent;
  color: #011c44;
  cursor: pointer;
}

.hero-call-to-action {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/* Sections */
.section-title {
  color: var(--color-brand-dark);
  font-family: var(--font-brand-headline);
  font-size: 64px;
}

.span-accent {
  color: var(--color-brand-dark);
  font-weight: 600;
}

/* Section About     */
.section-about {
  padding: 0;
}

.about-title {
  margin-bottom: 40px;
}

.about-paragraph {
  /* mb - ??? */
  margin-bottom: 40px;
  line-height: 1.7;
}

/* Section Why */
.why-section {
  padding: 176px 0 48px;
}

.why-title {
  margin-bottom: 48px;
  text-align: center;
}

.why-article {
  padding: 24px 32px;
}

.why-article-image {
  margin-bottom: 8px;
}

.why-article-paragraph {
  font-size: 18px;
  line-height: 1.33;
}
/* Section Procedures */
.procedures-section {
  padding: 48px 0;
}

.procedures-title {
  margin-bottom: 48px;
  text-align: center;
}

.procedure-aricle-description {
  color: var(--color-primary-light);
  line-height: 1.2;
}

/* Contacts Section */
.contacts-section {
  padding: 48px 0 94px;
}

.contacts-title {
  margin-bottom: 48px;
  text-align: center;
}

/* Footer */
footer {
  padding: 56px 0;
  background-color: var(--color-brand-dark);
  color: #ffffff;
}

footer a {
  color: var(--color-primary-light);
  font-size: 16px;
}

footer a:hover {
  color: var(--color-brand-light);
  /* font-weight: 700; */
}

.social-icons-footer {
  height: 42px;
  width: 42px;
  filter: invert(91%) sepia(71%) saturate(23%) hue-rotate(358deg)
    brightness(108%) contrast(105%);
}

.footer-copy {
  color: var(--color-primary-grey);
  font-size: 13px;
}
